venv/
Literature/
checker/
data/saved_words_counter1
data/saved_words_counter2
data/saved_words_counter3
data/saved_model_knlm2
data/compiled.txt
data/all_token.pk
data/all_token2.pk
data/ilovepdf_pages-to-jpg/
data/name_and_additive.txt
data/name_with_additive.pk
data/nep_dict.sqlite3
data/sabdkosh-2075-10th.txt
data/sabdkosh-2075-10th.pdf
data/ne_dedup.txt/
experiments/NepaliBERT/
temp/
checker/data/nep_dict.sqlite3
old/
.ipynb_checkpoints/

models/saved_model_knlm2
models/transformer_model.pt

trie_depth.pickle
