venv/
Literature/
checker/data/saved_words_counter1
checker/data/saved_words_counter2
checker/data/saved_words_counter3
checker/data/saved_model_knlm2
checker/data/compiled.txt
checker/data/all_token.pk
checker/data/all_token2.pk
checker/data/ilovepdf_pages-to-jpg/
checker/data/name_and_additive.txt
checker/data/name_with_additive.pk
checker/data/nep_dict.sqlite3
checker/data/sabdkosh-2075-10th.txt
checker/data/sabdkosh-2075-10th.pdf
experiments/
checker/data/nep_dict.sqlite3
old/
.ipynb_checkpoints/

checker/models/saved_model_knlm2
checker/models/transformer_model.pt

trie_depth.pickle
